[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
chromedriver-binary-auto = "*"
psycopg2 = "*"
python-dotenv = "*"
schema = "*"
cx-oracle = "*"
pandas = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.10"
